In [67]:
import pandas as pd
import sklearn as sk
import math

In [123]:
first_sentence = "Data Science is the sexiest job of the 21st century"
second_sentence = "machine learning is the key for data science"

# SPLITING

In [124]:
#split so each word have their own string
first_sentence = first_sentence.split(" ")
second_sentence = second_sentence.split(" ")
#join them to remove common duplicate words
total= set(first_sentence).union(set(second_sentence))
print(total)

{'the', 'is', 'key', 'sexiest', 'Data', 'Science', '21st', 'machine', 'data', 'science', 'job', 'of', 'for', 'learning', 'century'}

# Now lets add a way to count the words using a dictionary key-value pairing for both sentences

In [125]:
Word_DictA = dict.fromkeys(total, 0) 
Word_DictB = dict.fromkeys(total, 0)
for word in first_sentence:
    Word_DictA[word]+=1
    
for word in second_sentence:
    Word_DictB[word]+=1
Word_DictA

{'the': 2,
 'is': 1,
 'key': 0,
 'sexiest': 1,
 'Data': 1,
 'Science': 1,
 '21st': 1,
 'machine': 0,
 'data': 0,
 'science': 0,
 'job': 1,
 'of': 1,
 'for': 0,
 'learning': 0,
 'century': 1}

In [126]:
Word_DictB

{'the': 1,
 'is': 1,
 'key': 1,
 'sexiest': 0,
 'Data': 0,
 'Science': 0,
 '21st': 0,
 'machine': 1,
 'data': 1,
 'science': 1,
 'job': 0,
 'of': 0,
 'for': 1,
 'learning': 1,
 'century': 0}

# Now we put them in a dataframe and then view the result

In [127]:
pd.DataFrame([Word_DictA, Word_DictB])

,the,is,key,sexiest,Data,Science,21st,machine,data,science,job,of,for,learning,century
0,2,1,0,1,1,1,1,0,0,0,1,1,0,0,1
1,1,1,1,0,0,0,0,1,1,1,0,0,1,1,0

# Writing the TF Function

In [129]:
def computeTF(WordDict, doc):
    tearm_frequency_Dict = {}
    Corpus_Count = len(doc)
    for word, count in WordDict.items():
        tearm_frequency_Dict[word] = count/float(Corpus_Count)
    return(tearm_frequency_Dict)

In [130]:
#Running our sentences through the tf function:
tearm_frequency_First = computeTF(Word_DictA, first_sentence)
tearm_frequency_First

{'the': 0.2,
 'is': 0.1,
 'key': 0.0,
 'sexiest': 0.1,
 'Data': 0.1,
 'Science': 0.1,
 '21st': 0.1,
 'machine': 0.0,
 'data': 0.0,
 'science': 0.0,
 'job': 0.1,
 'of': 0.1,
 'for': 0.0,
 'learning': 0.0,
 'century': 0.1}

In [131]:
tearm_frequency_Second = computeTF(Word_DictB, second_sentence)
tearm_frequency_Second

{'the': 0.125,
 'is': 0.125,
 'key': 0.125,
 'sexiest': 0.0,
 'Data': 0.0,
 'Science': 0.0,
 '21st': 0.0,
 'machine': 0.125,
 'data': 0.125,
 'science': 0.125,
 'job': 0.0,
 'of': 0.0,
 'for': 0.125,
 'learning': 0.125,
 'century': 0.0}

In [132]:
#Converting to dataframe for visualization
term_frequency = pd.DataFrame([tearm_frequency_First, tearm_frequency_Second])
term_frequency

,the,is,key,sexiest,Data,Science,21st,machine,data,science,job,of,for,learning,century
0,0.200,0.100,0.000,0.1,0.1,0.1,0.1,0.000,0.000,0.000,0.1,0.1,0.000,0.000,0.1
1,0.125,0.125,0.125,0.0,0.0,0.0,0.0,0.125,0.125,0.125,0.0,0.0,0.125,0.125,0.0

# Now that we finished the TF section, we move onto the IDF part

In [133]:
def computeIDF(docList):
    invers_documnet_frequency_Dict = {}
    #total number of senetnces
    N = len(docList)
    
    invers_documnet_frequency_Dict = dict.fromkeys(docList[0].keys(),0)
    for word, val in invers_documnet_frequency_Dict.items():
        invers_documnet_frequency_Dict[word] = math.log10(N / (float(val) + 1))
    return(invers_documnet_frequency_Dict)

In [134]:
#inputing our sentences in the log file
invers_documnet_frequency = computeIDF([Word_DictA, Word_DictB])
invers_documnet_frequency

{'the': 0.3010299956639812,
 'is': 0.3010299956639812,
 'key': 0.3010299956639812,
 'sexiest': 0.3010299956639812,
 'Data': 0.3010299956639812,
 'Science': 0.3010299956639812,
 '21st': 0.3010299956639812,
 'machine': 0.3010299956639812,
 'data': 0.3010299956639812,
 'science': 0.3010299956639812,
 'job': 0.3010299956639812,
 'of': 0.3010299956639812,
 'for': 0.3010299956639812,
 'learning': 0.3010299956639812,
 'century': 0.3010299956639812}

# Now we implement the idf formula , let’s finish with calculating the TFIDF

In [135]:
def computeTFIDF(tfBow, idfs):
    tfidf = {}
    for word, val in tfBow.items():
        tfidf[word] = val*idfs[word]
    return(tfidf)

In [136]:
#running our two sentences through the IDF:
invers_document_frequency_First = computeTFIDF(tearm_frequency_First, invers_documnet_frequency_Dict)
invers_document_frequency_First

{'the': 0.06020599913279624,
 'is': 0.03010299956639812,
 'key': 0.0,
 'sexiest': 0.03010299956639812,
 'Data': 0.03010299956639812,
 'Science': 0.03010299956639812,
 '21st': 0.03010299956639812,
 'machine': 0.0,
 'data': 0.0,
 'science': 0.0,
 'job': 0.03010299956639812,
 'of': 0.03010299956639812,
 'for': 0.0,
 'learning': 0.0,
 'century': 0.03010299956639812}

In [137]:
invers_document_frequency_Second = computeTFIDF(tearm_frequency_Second, invers_documnet_frequency_Dict)
invers_document_frequency_Second

{'the': 0.03762874945799765,
 'is': 0.03762874945799765,
 'key': 0.03762874945799765,
 'sexiest': 0.0,
 'Data': 0.0,
 'Science': 0.0,
 '21st': 0.0,
 'machine': 0.03762874945799765,
 'data': 0.03762874945799765,
 'science': 0.03762874945799765,
 'job': 0.0,
 'of': 0.0,
 'for': 0.03762874945799765,
 'learning': 0.03762874945799765,
 'century': 0.0}

In [138]:
#putting it in a dataframe
idf= pd.DataFrame([invers_document_frequency_First, invers_document_frequency_Second])
idf

,the,is,key,sexiest,Data,Science,21st,machine,data,science,job,of,for,learning,century
0,0.060206,0.030103,0.000000,0.030103,0.030103,0.030103,0.030103,0.000000,0.000000,0.000000,0.030103,0.030103,0.000000,0.000000,0.030103
1,0.037629,0.037629,0.037629,0.000000,0.000000,0.000000,0.000000,0.037629,0.037629,0.037629,0.000000,0.000000,0.037629,0.037629,0.000000

# NOW PERFORM SAME PROCESS USING sklearn

In [139]:
from sklearn.feature_extraction.text import TfidfVectorizer
#for the sentence, make sure all words are lowercase or you will run #into error. 
#for simplicity, I just made the same sentence all #lowercase

firstV = "Data Science is combination of fentestic machine learning and deep learning methods"
secondV = "machine learning is most importent for data science"

#calling the TfidfVectorizer
vectorize= TfidfVectorizer()

#fitting the model and passing our sentences right away:
response= vectorize.fit_transform([firstV, secondV])
print(response)

  (0, 10)	0.3154409059887549
  (0, 3)	0.3154409059887549
  (0, 0)	0.3154409059887549
  (0, 8)	0.4488776052410952
  (0, 9)	0.2244388026205476
  (0, 4)	0.3154409059887549
  (0, 12)	0.3154409059887549
  (0, 1)	0.3154409059887549
  (0, 7)	0.2244388026205476
  (0, 13)	0.2244388026205476
  (0, 2)	0.2244388026205476
  (1, 5)	0.4251963615908802
  (1, 6)	0.4251963615908802
  (1, 11)	0.4251963615908802
  (1, 8)	0.3025307132406998
  (1, 9)	0.3025307132406998
  (1, 7)	0.3025307132406998
  (1, 13)	0.3025307132406998
  (1, 2)	0.3025307132406998